{
    "semi"; true,
    "singleQuote"; true, /* valida que en todos los archivos js utilice comilla simple*/
    "jsxSingleQuote"; true,
    "trailingComma"; "es5", /* Que termine en coma */
    "printWidth"; 100,
    "tabWidth"; 2,
    "bracketSpacing"; true,
    "arrowParens"; "always"
}